[package]
name = "cartridge_vrf"
version = "0.1.0"
edition = "2023_10"

[dependencies]
starknet = "2.9.2"
stark_vrf = { git = "https://github.com/dojoengine/stark-vrf.git" }
openzeppelin_access = "0.18.0"
openzeppelin_upgrades = "0.18.0"
snforge_std = "0.31.0"

[dev-dependencies]
openzeppelin_testing = "0.18.0"
openzeppelin_utils = "0.18.0"

[[target.starknet-contract]]
#casm = true

[lib]

[script]
test = "snforge test"
